html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Fredoka", sans-serif;
    overflow: hidden;
    background-color: #222222;
    color: #999;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column; /* Adjust for mobile */
    width: 100%; /* Ensure it doesn't exceed the screen width */
    max-width: 1200px; /* Limit max width on larger screens */
    position: relative;
}

.logo-container {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
}

.description-box {
    margin-top: 20px;
    text-align: center;
}

.side-menu {
    width: 200px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /*transform: translateX(-100%);*/
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.side-menu ul li a:hover {
    background-color: #ddd;
}

.main-content {
    flex: 1;
    margin-left: 200px;
    transition: margin-left 0.3s ease-in-out;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    overflow-y: auto;
    min-height: 100vh;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1001;
    display: none;
}

.floating-image {
    position: absolute;
    bottom: -100px;
    opacity: 0.5;
    width: 200px;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block;
    }

    .side-menu {
        transform: translateX(-100%);
    }

    .side-menu.open-sidebar {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .container {
        flex-direction: column; /* Stack items vertically on mobile */
    }
}