html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Fredoka", sans-serif;
    overflow: hidden; /* Prevent scroll bars */
    background-color: #222222;
    color: #999; /* Darkish grey text color */
}

body {
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Adjust the top padding for mobile devices */
    overflow-y: auto;
}

.logo-container {
    text-align: center;
    margin: 20px auto;
    max-width: 300px; /* Adjust width as needed */
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
}

.description-box {
    margin-top: 20px;
}

.description {
    text-align: center;
}

.container {
    display: flex;
    position: relative;
}

.side-menu {
    width: 200px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(0); /* Default visible on desktop */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.side-menu ul li a:hover {
    background-color: #ddd;
}

.main-content {
    margin-left: 200px; /* Account for sidebar on desktop */
    flex: 1;
    transition: margin-left 0.3s ease-in-out;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    min-height: 100vh;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1001;
    display: none; /* Hide toggle button by default */
}

.floating-image {
    position: absolute;
    bottom: -100px;
    opacity: 0.5;
    width: 200px;
    pointer-events: none; /* Allow scrolling through floating images */
}

@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block; /* Show toggle button on mobile */
    }

    .side-menu {
        transform: translateX(-100%); /* Hide sidebar on mobile */
    }

    .side-menu.open-sidebar {
        transform: translateX(0); /* Slide sidebar into view */
    }

    .main-content {
        margin-left: 0; /* No margin on mobile */
    }
}
