

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Fredoka", sans-serif;
    overflow: hidden; /* Prevent scroll bars */
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #999; /* Darkish grey text color */
}

body {
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    padding-top: 20px; /* Adjust the top padding for mobile devices */
    overflow-y: auto;
}



.side-menu {
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: -20px; /* Start off-screen */
    transition: transform 0.3s ease-in-out; /* Smooth animation */
}

.side-menu.open-sidebar {
    transform: translateX(0); /* Slide sidebar into view */
}



.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.side-menu ul li a:hover {
    background-color: #ddd;
}

.main-content {
    margin-left: 0; /* Initial margin */
    transition: margin-left 0.3s ease-in-out; /* Add transition for smooth animation */
}

.side-menu.open-sidebar + .main-content {
    margin-left: 220px; /* Adjusted margin to accommodate side menu width */
}

.main-content.push-right {
    margin-left: 250px; /* Adjusted margin to accommodate sidebar */
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    /*background-color: #222;*/
    overflow-y: auto; /* Enable vertical scrolling if needed */
    min-height: 100vh;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px; /* Adjust as needed */
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1001; /* Ensure toggle button is above other content */
    display: none; /* Hide toggle button by default */
}

/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block; /* Show toggle button on mobile */
    }

    .side-menu {
        width: 100%;
        max-width: 250px;
        left: -100%; /* Start off-screen for mobile */
    }

    .side-menu.open-sidebar {
        transform: translateX(100%); /* Slide sidebar into view for mobile */
    }

    .main-content.push-right {
        margin-left: 0; /* No margin for content on mobile */
    }
}


.container {
    display: flex;
    position: relative;
}

.logo-container {
    margin-top: 20px; /* Add some space between the description and the logo */
    align-items: center;
}

.logo {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
    align-items: center;
}

.description-box {
    background-color: #999; /* White background */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Padding inside the box */
    margin-top: 20px; /* Space between the logo and description box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
}

.description {
    margin: 0;
    color: #ddd; /* Darkish grey text color */
}

#home {
    align-items: center;
    margin-top: 20px; /* Add some margin from the top */
    padding: 0 20px; /* Add horizontal padding for better appearance on mobile devices */
    max-width: 600px; /* Limit the max width for the content */
}

#howtobuy {
    align-items: flex-end; /* Align items to the end (right) */
}

#about{
    align-items: flex-start; /* Align items to the end (right) */
}

#tokenomics {
    align-items: flex-end; /* Align items to the start (left) */
}

.floating-image {
    position: absolute;
    bottom: -100px; /* Start off-screen at the bottom */
    opacity: 0.5; /* Adjust opacity as needed */
    width: 200px; /* Double the original size */
    height: auto;
}